<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update User Page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/login.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/flag-icon.min.css" th:href="@{css/flag-icon.min.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
<body>

	<nav class="navbar navbar-inverse" th:fragment="header">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cfNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="/">CrowdFunding</a>
	    </div>
	    <div class="collapse navbar-collapse" id="cfNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/" th:text="#{main.home}"></a></li>
	        <li><a href="/?myProjects=true" th:href="@{/?myProjects=true}" th:text="#{main.my_projects}"></a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#Language"><span th:text="#{main.language}"></span><span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li>
		      		<a href="/update_user?lang=FR"><span class="flag-icon flag-icon-fr"></span>	Français</a>
		    	</li>
		    	<li>
		      		<a href="/update_user?lang=EN"><span class="flag-icon flag-icon-gb"></span>	English</a>
		    	</li>
		    	<li>
		      		<a href="/update_user?lang=ES"><span class="flag-icon flag-icon-es"></span>	Español</a>
		    	</li>
		    	<!-- javascript:window.location.href=window.location.href -->
	          </ul>
	        </li>
	      	<li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#User"><span class="glyphicon glyphicon-user" th:text="' '+${name}"></span><span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/update_user" th:href="@{/update_user}" th:text="#{user.edit_user}"></a></li>
	            <li><a href="/login?logout" th:href="@{/login?logout}"><span class="glyphicon glyphicon-log-out"></span><span th:text="' ' + #{main.log_out}"></span></a></li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	
  <div class="form">
  
  	<h1 th:text="#{user.edit_user}"></h1>

    <form class="login-form" th:action="@{/update_user}" method="POST">
      <label for="username" th:text="#{user.location}"></label>
      <input type="text" name="location" th:value="${user.location}"/>
      
      <label for="username" th:text="#{user.biography}"></label>
      <textarea class="width_fill" name="biography" th:text="${user.biography}"></textarea>
      
      <label for="username" th:text="#{user.email}"></label>
      <input type="text" name="email" th:value="${user.email}"/>
      <input type="submit" name="submit" th:value="#{user.save}" />
      
    </form>
  </div>

</body>
</html>
