<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update ProjectUser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="css/login.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>
<body>
	<nav class="navbar navbar-light bg-faded">
  		<ul class="nav navbar-nav">
  			<li class="nav-item">
	      		<a href="/update_project?lang=FR">French</a>
	    	</li>
	    	<li class="nav-item">
	      		<a href="/update_project?lang=EN">English</a>
	    	</li>
	    	<li class="nav-item">
	      		<a href="/update_project?lang=ES">Espanol</a>
	    	</li>
	    </ul>	
	</nav>
	
  <div class="form">
  
  	<h1 th:text="#{project.update}"></h1>

    <form class="login-form" th:action="@{/updateProject}" method="POST">
      <label for="id" th:text="#{project.name}"></label>
      <input type="text" name="name" th:value="${project.name}"/>
      <label for="id" th:text="#{project.description}"></label>
      <textarea name="description" th:text="${project.description}"></textarea>
      <label for="id" th:text="#{project.location}"></label>
      <input type="text" name="location" th:value="${project.location}"/>
      <label for="id" th:text="#{project.fundingAmount}"></label>
      <input type="text" name="fundingAmount" th:value="${project.fundingAmount}"/>
      <label for="id" th:text="#{project.numberOfDays}"></label>
      <input type="text" name="numberOfDays" th:value="${project.numberOfDays}"/>
   
      <input type="submit" name="submit" th:value="#{project.save}" />
    </form>
  </div>

</body>
</html>